{% extends 'base.html' %}

{% block content %}
<br>
<h1> Privacy Policy </h1>
<br>
<h2> Privacy Policy </h2>
<br>
<p> The privacy of our visitors is extremely important. This Privacy Policy outlines the types of personal information that is received and collected and how it is used. First and foremost, we will never share your email address or any other personal information to anyone without your direct consent. 
<br>
<h3> Log Files </h3>
Like many other websites, this site uses log files to help learn about when, from where, and how often traffic flows to this site. The information in these log files include:
<br>
<ul>
	<li>Internet Protocol addresses (IP)</li>
	<li>Types of browser</li>
	<li>Internet Service Provider (ISP)</li>
	<li>Date and time stamp</li>
	<li>Referring and exit pages</li>
	<li>Number of clicks</li>
	<li>All of this information is not linked to anything that is personally identifiable.</li>
</ul>
<br>
<h3>Cookies and Web Beacons</h3>
<p>When you visit this site “convenience” cookies are stored on your computer. Third-party advertisers may also place and read cookies on your browser and/or use web beacons to collect information. This site has no access or control over these cookies. You should review the respective privacy policies on any and all third-party ad servers for more information regarding their practices and how to opt-out. If you wish to disable cookies, you may do so through your web browser options. Instructions for doing so can be found on the specific web browsers’ websites.</p>
<br>
<h4>Google Analytics</h4>
<br>
<p> This site uses Google Analytics to analyze the users of the site such as where they are from and what pages are clicked on. By accessing this site, you consent to the collection and use of your information by Google Analytics. You are encouraged to review their privacy policy and contact them directly for responses to your questions. We do not transfer personal information to Google Analytics. However, if you do not want any information to be collected and used by tracking technologies, you can visit Google Analytics to find out more. </p>
<br>
{% endblock %}
